body {
    /*Iron Man logo for the background */
    font-family: "Montserrat", sans-serif;
    background-image: url("background3.jpg");
    background-size: 350px 350px;
    background-color: black;
}
.container {
    background-color: #d7d7d5;
    padding: 20px;
    color: #2c3640;
    border-width: 6px;
    border-color: #2c3640;
    border-style: double;
}

footer {
    text-align: center;
    background-color: #d7d7d5;
    opacity: 0.5;
}

h2,
h1 {
    font-family: "Metal Mania", cursive;
}

.btn {
	border-color: #2c3640;
	background-color: #d7d7d5;
}