/** @format */

body {
	background-image: url("background1.jpg");
	background-color: black;
	background-size: 250px 250px;
}
.container {
	background-color: #ffc8b3;
	padding: 20px;
	color: #5c39b1;
	border-width: 6px;
	border-color: #5c39b1;
	border-style: double;
	font-family: "Montserrat", sans-serif;
}

footer {
	text-align: center;
	background-color: #f2e8f7;
	opacity: 0.5;
}

h2,
h1 {
	font-family: "Metal Mania", cursive;
}
