body {
    /*Iron Man logo for the background */
    font-family: "Montserrat", sans-serif;
    background-image: url("iron-man.jpg");
    background-color: black;
}

h2,
h1,
h5 {
    font-family: "Metal Mania", cursive;
}

footer {
    text-align: center;
}

.container {
    background-color: #96f9d0;
    padding: 20px;
    color: #016214;
    border-width: 6px;
    border-color: #016214;
    border-style: double;
}
/*adjusting height so the photos fill up their card*/
.card-img {
    height: 100%;
}

footer {
    text-align: center;
    background-color: #96f9d0;
    opacity: 0.5;
    border-width: 0px;
}
.card {
    background-color: #96f9d0;
}

@media screen and (max-width: 400px) {
    /* change image width at smaller views */
    img {
        width: 100px;
    }
}