/** @format */

body {
	/*Iron Man logo for the background */
	font-family: "Montserrat", sans-serif;
	background-image: url("background2.jpg");
	background-color: black;
	background-size: 250px 250px;
}

h2,
h1,
h3 {
	font-family: "Metal Mania", cursive;
}

footer {
	text-align: center;
}

.container {
	background-color: #cceff3;
	padding: 20px;
	color: #f60f15;
	border-width: 6px;
	border-color: #f60f15;
	border-style: double;
	font-weight: bold;
}
/*adjusting height so the photos fill up their card*/
.card-img {
	height: 100%;
}

footer {
	text-align: center;
	background-color: #cceff3;
	opacity: 0.5;
	border-width: 0px;
}
.card {
    background-color: #cceff3;
    border-color: #f60f15;
    border-style: double;
    border-width: 4px;
}

@media screen and (max-width: 400px) {
	/* change image width at smaller views */
	img {
		width: 100px;
	}
}

.btn {
    border-color: #f60f15;
}